@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  font-family: 'Inconsolata', monospace;
  background: #d1cfcf;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 32px;
}

.semestre {
  margin-bottom: 30px;
}

.semestre h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.ramos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.ramo {
  background: ; #4da1b6 /azul verdoso */
  color: white;
  border: 2px solid #005379;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  position: relative;
  transition: transform 0.2s ease;
  cursor: pointer;
  opacity: 1;
}

.ramo:hover {
  transform: scale(1.05);
}

.ramo.bloqueado {
  background: #cccccc;
  color: #7a7e82;
  border-color: #aaa;
  cursor: not-allowed;
  opacity: 0.7;
}

.ramo.aprobado { 
  background: #2e6d7d; 
  border-color: #1b455e;
}

.tooltip {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 12px;
  white-space: nowrap;
}

.ramo:hover .tooltip {
  visibility: visible;
}

.ramo.aprobado {
  background-color: #808080; 
  text-decoration: line-through; 
}
